:root {
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    background-color: white;
    margin: 0;
}

header {
    overflow: hidden;
    color: white;
    background-color: black;
}

header .administrator-privilegies {
    float: right;
    margin: 0.4em 2em;
}

#auth {
    display: block;
}

.main-info {
    background-image: url(../img/background.jpg);
    margin: 0px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.about-us,.try-to-become-administrator {
    margin: 2rem 3rem;
}

.about-us {

}

.try-to-become-administrator {

}