:root {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
}

header {
    overflow: hidden;
    color: white;
    background-color: black;
}

header .administrator-privilegies {
    float: right;
    margin: 0.4em 2em;
}

.about-us {
    background-image: url(../img/background.jpg);
    margin: 0px;
    overflow: hidden;
}

.try-to-become-administrator {
    
}